/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.heroWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  max-width: 600px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.heroWrapper img {
  width: 30vh;
  max-width: 250px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
