.twoColFeats {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-flow: column;
  width: 100%;
  max-width: 1300px;
}

.twoCol {
  display: flex;
  flex-flow: row;
  width: 100%;
  padding: 2.5rem 5rem;
  gap: 50px;
  background-color: rgb(236, 236, 236);
}

.twoCol:nth-child(even) {
  flex-flow: row-reverse;
  background-color: transparent;
}

.twoCol > div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.twoCol > div > img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgb(121, 121, 121);
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .twoCol,
  .twoCol:nth-child(even) {
    flex-flow: column;
  }

  .twoCol > div {
    width: 100%;
  }

  .twoCol > div > img {
    max-width: 500px;
  }
}
