// NOTE: This file is a partial, it shouldn't include anything that will produce css on its own.

$bg-color: var(--bg-color);
$bg-color-accent: var(--bg-color-accent);
$text-color: var(--text-color);
$text-color-accent: var(--text-color-accent);
$placeholder-color: var(--placeholder-color);
$accent-color: var(--accent-color);
$accent-color-hover: var(--accent-color-hover);
$nav-color: var(--nav-color);
$nav-height: 71px; // How tall the nav is naturally, usefull in some places.
$poster-rating-color: var(--poster-rating-color);
$poster-extra-detail-bg-color: rgba(46, 46, 46, 0.5);
// Bg col of elements with image behind with mix-blend-mode: multiply where we want a little of image to come through.
$img-blend-multiply-bg-col: var(--img-blend-multiply-bg-col);

$warn: #f38755;
$error: #f3555a;
$success: #28a745;
$success-hover: #1e7e34;

// For ratings that are on bg-color.
$rating-color: var(--rating-color);

$blended-mask:
	linear-gradient(
		to right,
		var(--bg-color),
		rgba(from var(--bg-color) r g b / 0.984) 0.97%,
		rgba(from var(--bg-color) r g b / 0.945) 2.07833333%,
		rgba(from var(--bg-color) r g b / 0.882) 3.29666667%,
		rgba(from var(--bg-color) r g b / 0.804) 4.60166667%,
		rgba(from var(--bg-color) r g b / 0.71) 5.96666667%,
		rgba(from var(--bg-color) r g b / 0.608),
		rgba(from var(--bg-color) r g b / 0.5),
		rgba(from var(--bg-color) r g b / 0.396) 10.16%,
		rgba(from var(--bg-color) r g b / 0.294) 11.505%,
		rgba(from var(--bg-color) r g b / 0.204) 12.78%,
		rgba(from var(--bg-color) r g b / 0.12) 13.95833333%,
		rgba(from var(--bg-color) r g b / 0.06) 15.01666667%,
		rgba(from var(--bg-color) r g b / 0.016) 15.92833333%,
		rgba(from var(--bg-color) r g b / 0) 16.66666667%,
		rgba(from var(--bg-color) r g b / 0) 83.33333333%,
		rgba(from var(--bg-color) r g b / 0.016) 84.07166667%,
		rgba(from var(--bg-color) r g b / 0.06) 84.98333333%,
		rgba(from var(--bg-color) r g b / 0.12) 86.04166667%,
		rgba(from var(--bg-color) r g b / 0.204) 87.22%,
		rgba(from var(--bg-color) r g b / 0.294) 88.495%,
		rgba(from var(--bg-color) r g b / 0.396) 89.84%,
		rgba(from var(--bg-color) r g b / 0.5),
		rgba(from var(--bg-color) r g b / 0.608),
		rgba(from var(--bg-color) r g b / 0.71) 94.03333333%,
		rgba(from var(--bg-color) r g b / 0.804) 95.39833333%,
		rgba(from var(--bg-color) r g b / 0.882) 96.70333333%,
		rgba(from var(--bg-color) r g b / 0.945) 97.92166667%,
		rgba(from var(--bg-color) r g b / 0.984) 99.03%,
		var(--bg-color)
	),
	linear-gradient(
		to top,
		var(--bg-color),
		var(--bg-color) 21.48148148%,
		rgba(from var(--bg-color) r g b / 0.984) 23.63703704%,
		rgba(from var(--bg-color) r g b / 0.945) 26.1%,
		rgba(from var(--bg-color) r g b / 0.882) 28.80740741%,
		rgba(from var(--bg-color) r g b / 0.804) 31.70740741%,
		rgba(from var(--bg-color) r g b / 0.71) 34.74074074%,
		rgba(from var(--bg-color) r g b / 0.608),
		rgba(from var(--bg-color) r g b / 0.5) 40.97407407%,
		rgba(from var(--bg-color) r g b / 0.396) 44.05925926%,
		rgba(from var(--bg-color) r g b / 0.294) 47.04814815%,
		rgba(from var(--bg-color) r g b / 0.204) 49.88148148%,
		rgba(from var(--bg-color) r g b / 0.12) 52.5%,
		rgba(from var(--bg-color) r g b / 0.06) 54.85185185%,
		rgba(from var(--bg-color) r g b / 0.016) 56.87777778%,
		rgba(from var(--bg-color) r g b / 0) 58.51851852%
	);
