:root {
  --bg-color: white;
  --text-color: black;
  --accent-color: rgba(128, 128, 128, 0.226);
}

:root.theme-dark {
  --bg-color: rgb(15, 15, 15);
  --text-color: white;
  --accent-color: rgba(46, 46, 46);
}

$bg-color: var(--bg-color);
$text-color: var(--text-color);
$accent-color: var(--accent-color);
