:root {
  --bg-color: white;
  --nav-color: rgba(255, 255, 255, 0.8);
  --text-color: black;
  --accent-color: rgba(128, 128, 128, 0.226);
  --accent-color-hover: rgba(46, 46, 46);
  --backdrop-filter: blur(4px) grayscale(80%);
  --backdrop-mix-blend-mode: multiply;
  --rating-color: black;
  --placeholder-color: #8e8e8e;
  --poster-rating-color: gold;
  --poster-extra-detail-bg-color: rgba(128, 128, 128, 0.25);
}

:root.theme-dark {
  --bg-color: rgb(15, 15, 15);
  --nav-color: rgba(15, 15, 15, 0.438);
  --text-color: white;
  --accent-color: rgba(46, 46, 46);
  --accent-color-hover: rgba(255, 255, 255, 0.8);
  --backdrop-filter: blur(0.5px) grayscale(50%);
  --backdrop-mix-blend-mode: difference;
  --rating-color: gold;
  --placeholder-color: #8e8e8e;
  --poster-rating-color: black;
  --poster-extra-detail-bg-color: rgba(46, 46, 46, 0.8);
}

$bg-color: var(--bg-color);
$text-color: var(--text-color);
$placeholder-color: var(--placeholder-color);
$accent-color: var(--accent-color);
$accent-color-hover: var(--accent-color-hover);
$backdrop-filter: var(--backdrop-filter);
$backdrop-mix-blend-mode: var(--backdrop-mix-blend-mode);
$backdrop-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
$nav-color: var(--nav-color);
$nav-height: 71px; // How tall the nav is naturally, usefull in some places.
$poster-rating-color: var(--poster-rating-color);
$poster-extra-detail-bg-color: var(--poster-extra-detail-bg-color);
$error: #f3555a;
$success: #28a745;

// For ratings that are on bg-color.
$rating-color: var(--rating-color);
