:root {
  --bg-color: white;
  --text-color: black;
  --accent-color: rgba(128, 128, 128, 0.226);
  --backdrop-filter: blur(4px) grayscale(80%);
  --backdrop-mix-blend-mode: multiply;
  --rating-color: black;
}

:root.theme-dark {
  --bg-color: rgb(15, 15, 15);
  --text-color: white;
  --accent-color: rgba(46, 46, 46);
  --backdrop-filter: blur(0.5px) grayscale(50%);
  --backdrop-mix-blend-mode: difference;
  --rating-color: gold;
}

$bg-color: var(--bg-color);
$text-color: var(--text-color);
$accent-color: var(--accent-color);
$backdrop-filter: var(--backdrop-filter);
$backdrop-mix-blend-mode: var(--backdrop-mix-blend-mode);
$backdrop-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));

// For ratings that are on bg-color.
$rating-color: var(--rating-color);
